<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailing Template NMC</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/psn-logo.jpeg">
</head>

<body>
    <div class="sidebar">
        <div class="iconSidebar">  
            <a href="/dashboard">
                <img src="/img/psn-logo.jpeg" alt="PSN Logo" class="logo"> 
            </a> 
        </div>

        <!-- Customer Care dropdown -->
        <div class="dropdown">
            <a href="#" onclick="toggleSubmenu(event, 'customerCareSubmenu')">
                <i class="fas fa-users"></i> <b>Customer Care</b>
            </a>
            <ul class="submenu" id="customerCareSubmenu">
                <li><a href="/cc/sun"><b>Sun Outage</b></a></li>
                <li><a href="/cc/maintenance"><b>Maintenance</b></a></li>
            </ul>
        </div>

        <!-- NMC O&M dropdown -->
        <div class="dropdown">
            <a href="#" onclick="toggleSubmenu(event, 'nmcSubmenu')">
                <i class="fas fa-tachometer-alt"></i> <b>NMC O&M</b>
            </a>
            <ul class="submenu" id="nmcSubmenu">
                <li><a href="/no/sun"><b>Sun Outage</b></a></li>
            </ul>
        </div>

        <!-- User profile section with dropdown for logout -->
        <div class="user-profile" onclick="toggleDropdown()">
            <img src="https://storage.googleapis.com/a1aa/image/I2pH1H802F5XNxUjbVEdTYb7BeOLsYbIf3QcYaV1GVPZW6nTA.jpg" alt="User profile picture" class="profile-picture">
            <span class="username"><%= username %></span>
            <i class="fas fa-caret-down"></i> 
            <ul class="dropdown-menu" id="dropdownMenu">
                <li><a href="/login/logout">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <h1>Customer Care - <b>Sun Outage</b></h1>
        <p>This page contains information about Sun Outages specific to the Customer Care department.</p>
    
        <div class="card-container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://play-lh.googleusercontent.com/sxwXjYM06daD5cpJJYFsK2PQs77JymUoXa7sPAfJabrpkjkyhwt2CeUDByamEw9Tbqc" alt="BMKG">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://yt3.googleusercontent.com/Zvit_7MU3RU7Uh0zJ4dsIjzYmyv9SsmVNj7cDChB4eyw4PdxpGj1JRQLgJVwVdApqbBibWmugg=s900-c-k-c0x00ffffff-no-rj" alt="Mandiri">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://d1x91p7vw3vuq8.cloudfront.net/game/2020116/c0zrv4r26vfimyxz0epp.png" alt="Smartfren">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbppGYeQRpTLKrq5GTRaxF4Z-hFmPiV1633A&s" alt="XL">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3vj0WM8F8yi9VB2emE3O-tjTze97XUI9RuA&s" alt="Bank Aceh">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://png.pngtree.com/png-clipart/20221223/original/pngtree-north-sumatra-bank-logo-png-image_8799829.png" alt="Bank Sumut">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.multipolar.com/wp-content/uploads/2021/08/BankNTT.jpg" alt="Bank NTT">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://static.wixstatic.com/media/059bb6_72e93d49487d49e4a3a84b268c76e8d0~mv2.png/v1/fill/w_980,h_980,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/059bb6_72e93d49487d49e4a3a84b268c76e8d0~mv2.png" alt="Bank Sulteng">
                <a href="#" class="btn btn-primary">Send Mail</a>
            </div>
        </div>
    </div>


    <script src="/js/script.js"></script>

</body>
</html>
